<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/header.css">

<div class="header-wrapper">
    <div class="left-side">
        <div class="profile-pic-wrapper">
            <img class="profile-pic" src="../assets/2.svg">
        </div>
        <h1><%= username %></h1>
    </div>
    <div class="right-side">
        <div class="energy wrapper">

        </div>
        <button class="logout">
            <a href="/logout">
                <img src="../assets/logout-box-line.svg">
            </a>
        </button>
    </div>
</div>