<h1>Add cards to someone's collection (Admin Exclusive)</h1>
<form method="POST" action="/admin">
    <label for="username">Select desired username: </label>
    <input type="text" id="usernameCard" name="usernameCard">
    <label for="card">Specify desired card id: </label>
    <input type="text" id="cardId" name="cardId">
    <input type="submit" value="submit">
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>