<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/friendsList.css">

<header>
    <div class="generic-wrapper">
        <form method="POST" action="add-friends">
            <input type="text" name="username" placeholder="Add a friend...">
            <button class="friend-add-button" type="submit"><img class="friend-add-image" src="./assets/user-add-line.svg" alt=""></button>
        </form>

        <div class="requests-wrapper">
                <button class="friend-add-button"><a href="/friend-requests"><img class="friend-add-image" src="./assets/mail-line.svg" alt=""></a></button>
        </div>
    </div>
</header>

<div class="general-wrapper">
<% for(let i = 0; i < friends.length; i++) { %>
    <div class="friends-wrapper">
        <div class="left-panel">
            <img class="friend-pic" src="/assets/2.svg">
            <h2 class="friend-name"><%- friends[i].username %></h2>
        </div>
        <div class="right-panel">
            <a href="/remove-friend/<%- friends[i].id %>"><button class="friend-list-button"><img src="./assets/user-minus-line.svg"></button></a>
            <button class="friend-list-button"><img src="./assets/star-line.svg" alt=""></button>
            <a href="/send-trade/<%- friends[i].id %>"><button class="friend-list-button"><img src="./assets/trade.svg" alt=""></button>
        </div>
    </div>
<% } %>
</div>

<footer>
    <%- include("partials/footer", {state: "friends"}) %>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>