<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/register.css">

<form method="post" action="register">
    <h2>Create an account</h2>
    <input type="text" class="username" name="username" placeholder="Username">
    <input type="password" class="password" name="password" placeholder="Password...">
    <input type="submit" value="Sign Up">
</form> 

<p>Already have an account? <a href="/login">Sign in</a></p>