<form action="/send-trade" method="POST">
    <input type="text" name="username" placeholder="Username desired...">
    <input type="text" name="cardGiven" placeholder="Give...">
    <input type="text" name="cardReceived" placeholder="Receive...">
    <input type="submit">
</form>