@keyframes rare-holo-animation{
 0%{color: orange;}
 10%{color: purple;}
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}


body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

h3 {
    margin: 9px 0 9px 0;
}

p {
    margin: 8px 0 8px 0;
}

.selected-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.card-hp {
    display: flex;
    gap: 5px;
}

.card-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-card {
    z-index: 1;
    height: 500px;
    width: 375px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30%;
}

.card-type {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-info {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    flex-direction: column;
    align-self: flex-start;
}

.card-type-img {
    height: 30px;
    width: 30px;
}

.attacks-energy {
    height: 20px;
    width: 20px;
}

.card-single-attack {
    margin-bottom: 20px;
}

.rare-holo {
    animation-name: rare-holo-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.rare {
    color:rgb(255, 97, 97);
}

.uncommon {
    color: rgb(131, 187, 47);
}

.common {
    color: rgb(180, 180, 180)
}