.collection-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 0 20px 80px 20px;
    z-index: 2;
}

.cards-images {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.selected-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.selected-card {
    z-index: 1;
    margin: auto;
    height: 500px;
    width: 375px;
}

.blurred {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}