.collection-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px 20px 80px 20px;
    z-index: 2;
}

.cards-images {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    scale: 1;
    transition-duration: 0.3s;
}

.cards-images:hover {
    scale: 1.05;
    transition-duration: 0.3s;
}

.blurred {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}